body > noscript.noJsWarn{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgba(255, 35, 35, 0.74);
    box-shadow: -1.6px -2.4px rgba(239, 170, 170, 0.74);
    animation-name: fadeOutJsWarn;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-animation-name: fadeOutJsWarn;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes fadeOutJsWarn{
 0%{
    opacity: 100%;
 }
 100%{
    opacity: 0%;
 }
}
@keyframes fadeOutJsWarn{
 0%{
    opacity: 100%;
 }
 100%{
    opacity: 0%;
 }
}