RewriteEngine On

# Controlla se la richiesta corrisponde a una directory senza file index
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteCond %{REQUEST_FILENAME}/index.htm !-f
RewriteCond %{REQUEST_FILENAME}/index.cgi !-f
RewriteCond %{REQUEST_FILENAME}/index.pl !-f
RewriteCond %{REQUEST_FILENAME}/index.py !-f
# Reindirizza alla pagina specificata con redirect permanente
RewriteRule ^ https://cierisamuele.altervista.org/error [R=301,L]