.zind-1{
    z-index: -4;
}
.zind-2{
    z-index: -3;
}
.zind-3{
    z-index: -2;
}
.zind-4{
    z-index: -1;
}
.zind-5{
    z-index: 0;
}
.zind-6{
    z-index: 1;
}
.zind-7{
    z-index: 2;
}
.zind-8{
    z-index: 3;
}
.zind-9{
    z-index: 4;
}